<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>
<body hx-boost="true" hx-on="htmx:load">
    <header>
        <h1>ZELO Bike Management System</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/bikes/add">Add Bike</a> |
            <a href="/bikes/bike_map">Search Bikes</a>
        </nav>
        <hr>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <hr>
        <p>&copy; 2024 Bike Management System</p>
    </footer>

    <script src="/static/js/bike_map/map.js"></script> <!-- Include the map.js file -->
</body>
</html>
