

<ul>
    {% for bike in bikes %}
    <li>
        <p>
            {{bike.bike_id}} - {{bike.model_name}}
            - {{bike.purchase_date}} - {{bike.last_maintenance}}
            - {{bike.total_miles_driven}} - {{bike.status}}
        </p>
        <button hx-get="/bikes/{{ bike.bike_id}}/edit" hx-target="#bike-detail" hx-swap="innerHTML">
            Edit
        </button>
        <button hx-post="/bikes/{{ bike.bike_id}}/maintenance" hx-target="#bike-list" hx-swap="innerHTML">
            Update Maintenance
        </button>
    </li>
    {% endfor %}
</ul>
    